.post {
  background-color: #eee;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.pagination {
  margin: 1rem auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.active {
  border: 1px solid black;
  border-radius: 100%;
  padding: 0 3px;
  outline: none;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.content_body {
  margin: 2rem 0;
  width: 70%;
  text-align: center;
}

.header_nav {
  margin-top: 2rem;
}

.btn {
  height: 2rem;
  margin: 0 4px;
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #008cba;
}

.btn-success {
  background-color: #4caf50;
}

.pagination:hover {
  cursor: pointer;
}